  /* ===============
            FONT GOOGLE 
                      ============= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

/* ===============
                HEaDER SECTION
                           ============= */
.header{
  display: flex;
  justify-content: space-around;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  height:450px;
  
 
}
/* .web-titel, .banner-img{
  margin-bottom: 30px;
} */
.titel-1 h1{
  font-size: 50px;
}
.titel-1 h1, .titel-2 p , .button{
  color: white;

}
.web-titel{
  width: 50%;
  margin: 50px;
}
.button{
  background-color: red;
  text-decoration:none;
  padding: 10px 20px;
  border-radius: 21px;
  cursor: pointer;
}
/* ================
               main sectiomn 
                       ==================*/
.section-1{
  background: black;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
 }
 main{
  margin-top: 50px;
 }
 #last{
  background-color:red ;
 }
 .section-1 a{
  text-decoration: none;
  color: black;
  background-color: white;
  margin: 10px;
  width:150px ;
  padding: 10px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
 }
 /*    ==================    */
 .medile-section{
  display: flex;
  justify-content: center;
 }
 .player{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
 }
 .icon{
  display: flex;
  align-items: center;
  
 }
 #massage{
  margin-left: 50px;
 }
 .imges{
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.281);
  border-radius: 10px;
 }
 footer{
  width: 100%;
  height: 500px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
 } 
 footer h1{
  color: white;
 }
 hr.hr{
  width: 1000px;
  margin:70px;
  border: 1px solid rgba(128, 128, 128, 0.233);
 }
 .foot{
  display: flex;
   
 } 
 .foot a{
  text-decoration: none;
  color: white;
  margin: 20px;
 }              
 
 @media screen and (min-width:689px) and (max-width:1085px) {
   .header{
    width: 900px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.815);
   }
   .web-titel{
    width: 40%;
    margin: auto;
    /* margin: 50px; */
  }
  .players{
    margin-bottom: 0;
  }
  .web-titel button{
    padding: 10px 20px;
    border-radius: 5px;
  }
  .web-titel button:hover{
    background-color: white;
    color:  rgba(0, 0, 0, 0.815);
  }
   .titel-1>h1{
    font-size:30px;
   }
   .medile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .player{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
   }
   .section-1 {
    background:white;
    height: 50px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* margin-top: 10px; */
   } 
  .section-1 a{
   padding: 10px 25px;
   border: 1px solid rgba(128, 128, 128, 0.226);
  }
  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  hr.hr{
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.233);
  }
  .foot{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
  }

 }
 @media screen and (max-width:688px) {
  .header{
    display: grid;
    height: 100%; 
  }
  .titel-1 h1{
    font-size: 2em;
  }
  .medile-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .section-1 {
    background:white;
    margin-top: auto;
   }
  .player{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
   }
   footer{
     width: 100%;
     display: flex; 
     justify-content: center;
    align-items: center;
   
  }
  /* footer>h1{
    padding: 30px;
    margin: 20px;
  } */
  hr.hr{
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.233);
    margin: 0;
  }
  .foot{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
  }
 }